<div class="basic-concepts main-container">
  <app-title [title]="'basicConcepts.title'" />
  <app-description [description]="'basicConcepts.description'" />
  <div class="panel">
    <div class="row-2">
      <app-section
        [section]="{ id: 'basicConcepts.boxModel', numberItems: 4 }"
      />
      <app-box-info />
    </div>

    <div class="row-2">
      <app-section
        [section]="{ id: 'basicConcepts.display', numberItems: 4 }"
      />
      <app-section [section]="{ id: 'basicConcepts.axis', numberItems: 3 }" />
    </div>

    <div class="row-2">
      <app-section
        [section]="{ id: 'basicConcepts.containers', numberItems: 2 }"
      />
      <app-container-info />
    </div>

    <div class="row-2">
      <app-section [section]="{ id: 'basicConcepts.gap', numberItems: 3 }" />
      <app-section
        [section]="{ id: 'basicConcepts.responsive', numberItems: 0 }"
      />
    </div>

    <app-section [section]="{ id: 'basicConcepts.units', numberItems: 0 }" />

    <div class="row-2">
      <app-section
        [section]="{ id: 'basicConcepts.units.absolutes', numberItems: 5 }"
      />
      <app-section
        [section]="{ id: 'basicConcepts.units.relatives', numberItems: 10 }"
      />
    </div>
  </div>
</div>
