.about-me {
  background-color: var(--color-moss);
  border-radius: var(--radius);
  height: 100%;
  margin-bottom: 3rem;
  overflow: hidden;
  padding: 2rem;
}

@media screen and (max-width: 992px) {
  .about-me {
    padding: 1rem;
  }
}
