<div class="header">
  <div class="header__title">
    <a [routerLink]="['home']">CSS Layout Lab</a>
  </div>
  <div class="header__links">
    <ng-container
      *ngTemplateOutlet="links; context: { show: false }"
    ></ng-container>
  </div>
  <div class="header__button">
    <a (click)="showHideMenu()" routerLinkActive="router-link-active"
      ><i class="bi bi-list"></i
    ></a>
  </div>
  <div #menu class="header__menu">
    <ng-container
      *ngTemplateOutlet="links; context: { show: true }"
    ></ng-container>
  </div>
</div>
<ng-template #links let-showIcon="show">
  <a [routerLink]="['basic-concepts']">
    <i *ngIf="showIcon" class="bi bi-book mr-1"></i>
    {{ "basicConcepts.title2" | translate }}</a
  >
  <a [routerLink]="['block&inline']">
    <i *ngIf="showIcon" class="bi bi-reception-1 mr-1"></i>
    Block & Inline</a
  >
  <a [routerLink]="['flex']"
    ><i *ngIf="showIcon" class="bi bi-text-paragraph mr-1"></i> Flex</a
  >
  <a [routerLink]="['grid']"
    ><i *ngIf="showIcon" class="bi bi-grid mr-1"></i> Grid</a
  >
  <a (click)="changeLanguage()"
    ><i class="bi bi-translate mr-1"></i> {{ lang }}
  </a>
</ng-template>
