.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
  &__circle {
    animation: spin 1s linear infinite;
    border: 4px solid var(--color-moss);
    border-radius: 50%;
    border-top: 4px solid var(--color-dark);
    height: 40px;
    width: 40px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
