.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;

  &__body {
    background-color: var(--color-sand);
    flex: 1 1 auto;
    margin: 0;
    min-height: 0;
    overflow-y: auto;
  }

  &__footer {
    background-color: var(--color-moss);
    border-top: 1px solid var(--color-sand);
    color: var(--color-sand);
    font-size: 0.7rem;
    min-height: 2dvh;
    padding-top: 0.3rem;
    text-align: center;
  }
}
