code[class*="language-"],
pre[class*="language-"] {
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 0.8rem !important;
  }
}
