<div class="home">
  <div class="home__header row-2">
    <div class="home__header__info">
      <h1>CSS</h1>
      <h2>Layout Lab</h2>
      <button (click)="navigate()" class="btn btn--brick">
        {{ "home.getStarted" | translate }}
      </button>
    </div>
    <div class="home__header__img">
      <img [src]="img" alt="CSS Layout Lab" />
    </div>
  </div>
  <div class="home__description row-2 mb-2">
    <div class="home__description__info">
      <p class="gray" [innerHTML]="'home.introduction' | translate"></p>
    </div>
    <div class="home__description__recopilation">
      <p class="sand" [innerHTML]="'home.description' | translate"></p>
    </div>
  </div>
  @defer (on viewport) {
    <app-example-brick />
  } @placeholder {
    <app-spinner />
  }
  @defer (on viewport) {
    <app-about-me />
  } @placeholder {
    <app-spinner />
  }
</div>
