.default-elements {
  background-color: var(--color-dark);
  border-radius: var(--radius);
  padding: 0.1rem 1rem 1.5rem 1rem;
  &__title {
    color: var(--color-sand);
    text-align: center;
  }
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    > span {
      background-color: var(--color-moss);
      border-radius: var(--radius);
      color: var(--color-sand);
      font-size: 0.9rem;
      font-weight: 600;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .default-elements {
    padding: 0.1rem 0.5rem 1.5rem 0.5rem;
  }
}
