<div class="photo">
  <div
    class="photo__img"
    [ngStyle]="{
      'background-image': 'url(assets/images/photo.jpg)',
      'background-size': 'cover'
    }"
  >
    <div class="row-first">
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
    </div>
    <div class="row-second">
      <div class="col-4 child-brick"></div>
      <div class="col-4 child-brick"></div>
    </div>
    <div class="row-third">
      <div class="col-1 child-brick"></div>
      <div class="col-3 child-brick"></div>
    </div>
    <div class="row-fourth">
      <div class="col-5 child-brick"></div>
      <div class="col-6 child-brick"></div>
    </div>
    <div class="row-fith">
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
    </div>
    <div class="row-sixth">
      <div class="col-2 child-brick"></div>
      <div class="col-2 child-brick"></div>
      <div class="col-2 child-brick"></div>
      <div class="col-2 child-brick"></div>
    </div>
    <div class="row-seventh">
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
      <div class="col-1 child-brick"></div>
    </div>
  </div>
</div>
